<!DOCTYPE html>
<html lang="en" ng-app='MainApp'>
    <head>
        <meta charset="UTF-8">
        <title>Remmy</title>
        <meta charset="UTF-8">
        <title>Reminder</title>
        <link rel="shortcut icon" href="/images/favicon.gif" type="image/gif">
        <!-- RESET CSS -->
        <link rel="stylesheet" href="css/normalize.css">
        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="lib/bootstrap-3.3.6/css/bootstrap.min.css">
        <!-- My CSS -->
        <link rel="stylesheet" href="css/style.css">
        <!-- ANGULAR -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
        <!-- Controllers -->
        <script src="js/controllers/NoteController.js"></script>
        <script src="js/controllers/PanelController.js"></script>
        <script src="js/controllers/AuthorController.js"></script>
        <!-- Directives -->
        <script src="js/directives/checklist-model.js"></script>
        <!-- Model -->
        <script src="js/main_app.js"></script>
        <script src="js/routes.js"></script>
        <!-- Filters -->
        <script src="js/filters/upperFirstLetter.js"></script>
    </head>
    <body ng-controller="AuthorController as author">
       <!--  <button ng-click='author.test1()'>click</button> -->

        <!-- START CONTENT -->
        <div ng-include="'templates/navigation.html'"></div>
        <div ng-if="author.isAuth">
            <div ng-include="'templates/authorizated/main.html'"></div>
        </div>
        <div ng-if="!author.isAuth">
            <div ng-include="'templates/anonymous/login.html'"></div>
        </div>
        <!-- <div ng-view></div> -->
        <!-- <div ng-hide="author.isAuth">
            <div ng-include="'templates/anonymous/login.html'"></div>
            <div ng-include="'templates/anonymous/registration.html'"></div>
        </div>
        <div ng-show="author.isAuth">
            <div ng-include="'templates/authorizated/main.html'"></div>
        </div> -->
        <!-- END CONTENT -->

        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- BOOTSTRAP JS -->
        <script src="lib/bootstrap-3.3.6/js/bootstrap.min.js"></script>
    </body>
</html>
